<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
</head>
<body>
  <h1>Upload file page</h1>
  <input type="file" name="files" multiple/>
  <button onclick="uploadImages()">Upload</button>
  <script>
      async function uploadImages() {
          console.log("Upload images start");
          const input = document.querySelector('input[name="files"]');
          if (!input) {
              console.log("No files selected");
              return;
          }
          const files = input.files;
          if (!files || !files.length) {
              console.log("No files selected");
              return;
          }
          const tasks = Array.from(files).map(async (file) => {
              const formData = new FormData();
              formData.set("file", file);
              formData.set("upload_preset", "ml_default")
              formData.set("folder", "perfume/product")

              const res = await fetch("https://api.cloudinary.com/v1_1/drjj8x6wb/image/upload", {
                  method: "POST",
                  body: formData
              });

              return await res.json();
          })

          console.log(await Promise.all(tasks));
          return await Promise.all(tasks);
      }
  </script>
</body>
</html>